---
import { astroI18n, l } from "astro-i18n";
import {languageLabel} from "../../i18n/server";
import Translate from "@material-design-icons/svg/filled/translate.svg?component-solid"
import {nanoid} from "nanoid";


const params: Record<string, string> = {};
for (const [key, value] of Object.entries(Astro.params)) {
  if (value === undefined) continue;
  params[key] = String(value);
}

const links = astroI18n.locales.map((locale) => ({
  locale,
  href: l(Astro.url.pathname, params, {
    targetLocale: locale,
  }),
  label: languageLabel(locale)
}));

const id = nanoid()
---

<div class="flex items-center">
  <label for={id}><Translate /></label>
  <select id={id} class="p-2 text-sm bg-white" onchange="window.location.href=this.value">
    {
      links.map(({ href, label }) => (
        <option class="bg-none" value={href} selected={href===Astro.url.pathname}>
          <a href={href}>{label}</a>
        </option>
      ))
    }
  </select>
</div>