---
import { astroI18n, l } from "astro-i18n";
import { languageLabel } from "../../i18n/server";
import { nanoid } from "nanoid";
import { IconTranslate } from "@/icons";

const params: Record<string, string> = {};
for (const [key, value] of Object.entries(Astro.params)) {
  if (value === undefined) continue;
  params[key] = String(value);
}

const links = astroI18n.locales.map((locale) => {
  const href = l(Astro.url.pathname, params, {
    targetLocale: locale,
  });
  return {
    locale,
    href: href,
    selected: href === Astro.url.pathname,
    label: languageLabel(locale),
  };
});

const id = nanoid();
---

<div class="flex items-center">
  <label for={id}><IconTranslate /></label>
  <select id={id} class="p-2 text-sm bg-white" onchange="window.location.href=this.value">
    {
      links.map(({ href, label, selected }) => (
        <option class="bg-none" value={href} selected={selected}>
          {label}
        </option>
      ))
    }
  </select>
</div>
