---
import { listDojos, loadDojo } from "@/data/dojos";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import Header from "@/components/astro/Header.astro";
import { TechniqueChooser } from "src/components/solid/organisms";
import { t, tx } from "@/i18n";

import { multiplyParams } from "@/utils/multiplyParams";
import { languages } from "@/i18n/server";

export async function getStaticPaths() {
  const dojos = await listDojos();
  return multiplyParams({
    language: languages,
    dojoId: dojos.map((dojo) => dojo.id),
  });
}

const id = Astro.params.dojoId;
const dojo = await loadDojo(id);
---

<DefaultLayout>
  <Fragment slot="head">
    <meta name="description" content={t("meta.description.dojo", { dojo: dojo.info.name})}>
  </Fragment>
  <Header slot="header" />
  <h1>{t("app.button.chooseExamTable.label")}</h1>
  <p>{t("examChooser.exams-from")} {dojo.info.logo && ( <img class="inline h-[1.2em] me-2" alt="logo" src={dojo.info.logo} />) }{dojo.info.name}</p>
  {dojo.details.sourceLink && ( <p>{t("examChooser.source")}: <a href={dojo.details.sourceLink} ">{dojo.details.sourceLink}</a></p> )}

  {dojo.details.additionalText && ( <p class="bg-info-lightest border-info border rounded p-5 print:p-1">{tx(dojo.details.additionalText)}</p> )}
  <TechniqueChooser dojo={dojo} client:load />


</DefaultLayout>
